#death-map-outer {
  width: 100%;
  margin: auto;
}
#death-map-container {
  width: 100%; /* 100% of width of container */
  padding-bottom: 42%; /* 75% of width of container */
  position:relative;
}

#death-map {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  /* background: #eee; */
}

#death-map svg{
  margin-top: 0px;
  margin-bottom: 0px;
}

/* ------- LEGEND ----- */

#death-legend-cont {
  margin: auto;
}

#death-map-container div {
  margin: auto;
}

#death-legend svg {
  margin: auto;
  margin-top: 0px;
  width: 450px;
  height: 50px;
}

#death-legend-label {
  margin:0;
  text-align: center;
  font-size: 15px;
}

#death-legend .tick {
  stroke-width: 2;
}

#death-legend .tick text {
  y: "4";
}

.active-country {
  stroke: #000;
  stroke-width: 1;
}

.x-axis line, .x-axis path { stroke: #fff; }