/* cleanfuels: rgb(252, 195, 11) */
/* poverty: rgb(229, 36, 59) */
/* equality: rgb(221, 19, 103) */
/* health: rgb(76, 159, 56) */
/* education: rgb(197, 25, 45) */
/* growth: rgb(162, 25, 66) */

.spot {
  color: rgb(252, 195, 11);
}

body {
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  overflow-x:hidden;
  scroll-behavior: smooth;
}

p {
  font-size: 18px;
}

a {
  color: rgb(230, 170, 70);
}

a:hover {
  color: rgb(220, 155, 55);
}

.no-col-break {
-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.scale-svg {
  position: relative;
  width: 75px;
  height: auto;
}

.scale-svg-scribble {
  position: relative;
  width: 100px;
  height: auto;
  top: 15px;
}

.start-end {
  background: rgb(252, 195, 11);
  font-weight: 600;
  color: white;
}

#head-and-icon {
  margin-top: 35px;
  padding-bottom: 65px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

#head-and-icon-end {
  margin-top: 30px;
  padding-bottom: 65px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.spacer {
  width: 40px;
}
.spacer-small {
  width: 10px;
}

#start .scale-svg {
  width: 80px;
  min-width: 80px;
  height: auto;
}

#start .row {
  margin-top: 0px;
}

#start h1 {
  margin-top: 33px;
  margin-left: 10px;
}

svg {
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  color: #fff;
}

.editorial h2 {
  margin-top: 15px; 
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 28px;
}

.intro {
  max-width: 1100px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 18px;
  column-count: 3;
  column-width: 240px;
  column-gap: 60px;
 -moz-column-fill: balance;
     column-fill: balance;
}



#toc {
  margin-bottom: 30px;
}

#toc ul {
    list-style: none;
    padding-left: 0;
}

.first-p {
  font-weight: 300;
  font-size: 26px;
}

.row.broader {
  max-width: 1560px;
}

.row.narrower {
  max-width: 1200px;
}

.row.even-narrower {
  max-width: 370px;
}

.juxtapose-data {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.juxtapose-data div {
  flex: 1;
}

.juxtapose-data .text {
  padding-right: 60px;
  border-right: 1px solid black;
}

.juxtapose-data .data {
  padding-left: 60px;
}

#name {
  padding-left: 0px;
}
.country-selector:hover {
  background: #444;
  color: #fff;
  /*outline: 12px solid #444;*/
}
.move-left h4 {
  display: inline;
  margin-left: 11px;
}

#menu-row {
  padding: 11px 15px;
  margin-bottom: -11px;
  border-bottom: 1px solid black;
}

i.large.icon {
  vertical-align: baseline;
  font-size: 1.4em;
}


.responsive {
    width: 100%;
    height: auto;
}

.pos-right {
  width: 100%;
  text-align: center;
  color: #444;
  border-radius: 3px;
}

.rate-button {
  width: 100%;
  border-radius: 3px;
}
.rate-button:hover {
  background: rgb(254, 178, 76);
}

text {
  font-size: 11px;
}
text.label {
  font-size: 13px;
}

h2 {
  display: inline;
  font-size: 18px;
}

label {
  display: inline;
}

.tophead {
  padding-top: 15px;
  display: block;
  font-size: 18px;
  font-weight: 400;
}

.sub {
  vertical-align: baseline;
  position: relative;
  top: 0.3em;
  font-size: 80%;
}

.sup {
  vertical-align: baseline;
  position: relative;
  top: -0.3em;
  font-size: 90%;
}

.button:hover, .pointer:hover {
  cursor: pointer;
}

#select-menu {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;

  left: 0;
  right: 0;
  /*background-color: #fff;*/
  z-index: 999;
}

#selection-menu {
  background-color: #fff;
}

#select-list {
  padding-left: 0;
  font-weight: bold;
  width: 1380px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#select-list div {
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.01em;
}

h4 {
  margin-left: 7.5px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.01em;
}



.mylist {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

#select-list li {
  display: inline-block;
  letter-spacing: 0.02em;
  min-width: 215px;
  margin-bottom: 10px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  /*background: #eee;*/
  border: 1px solid #111;
  border-radius: 3px; 
  color: #111;
  font-size: 13px;
  transition: all 0.5s;
}

.country {
  display: inline-block;
  padding: 8px;
}

#select-list li:hover {
  background: #444;
  color: #fff;
}

i.in-value {
  margin: 0;
}

.li-value {
  opacity: 0;
  background: #555;
  color: #eee;
  float: right;
  border-radius: 3px;
  padding: 8px;
  transition: all 0.5s;
}

.li-value:hover {
  opacity: 1;
}

#select-list li.outOfRange {
  background: #fff;
  color: #f2f2f2;
  border: 1px solid #fff;
}

.outOfRange .li-value {
  display: none;
}

#sources {
  display: none;
  border: none;
  margin-bottom: 60px;
}

#sources ul {
  margin-top: 15px;
  list-style-type: none;
}

#sources h2 {
  font-size: 15px;
  margin-bottom: 15px;
}

#sources h3 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 15px;
  margin-left: 10px;
}

#sources ul {
  column-count: 3;
   column-width: 240px;
   column-gap: 40px;
}

#sources li {
  -webkit-column-break-inside: avoid;
  text-indent: -30px;
  padding-left 30px;
  padding-right: 30px;
  margin-bottom: 15px;
}

.slider {
  width:100%;
  align-self: flex-end;
}

#dashboard-container {
  position: relative;
  margin-top: 45px;
}

.row {
  border: 1px solid black;
  max-width: 1480px;
  margin:auto;
  margin-top: 14px;
  padding: 11px;
}

.no-border {
  border: none;
}

.row-select {
  border: 1px solid black;
  max-width: 1480px;
  margin:auto;
  margin-top: 14px;
}

.row.menu {
  border: none;
  /*border-top: 1px solid black;*/
  width: 100%;
  max-width: 1380px;
  margin:auto;
  margin-top: 11px;
  padding: 0px;
  fill: gray;
}

.row.label {
  border: none;
  width: 100%;
  max-width: 1380px;
  margin: 0;
  padding: 0;
  font-size:13px;
}

.label {
  stroke: none;
  font-weight: normal;
  font-size: 13px;
}

.no-padding {
  padding: 0;
}


.filter-range {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s;
  margin-top: 15px;
  padding: 20px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  padding-bottom: 30px;
  color: black;
  border: 1px solid #fff;
  border-radius: 3px;
}

.em {
  font-weight: bold;
}

.filter-range:hover {
  border: 1px solid #000;
  background: #555;
  color: white;
}

.last-hover {
  background: #555;
  color: #fff;
}
.last-hover-bar {
  background: #fff;
}

.in-use {
  border: 1px solid #000;
}

.filter-selected {
  color: black !important;
  fill: black;
}

#selection-indicator {
  border: none;
  padding: 0;
  margin-top:0;
}

.selected-item {
  height: 15px;
  width: 15px;
  border-style: solid;
  border-color: #444;
  background-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(-135deg);
}

.selected-access {
  height: 15px;
  width: 15px;
  border-style: solid;
  border-color: rgb(252, 195, 11);
  background-color: white;
  border-width: 0px 3px 3px 0px;
  transform: rotate(-135deg);
}

.selected-cont {
  margin-top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
}

.oi {
  float: right;
}

#graph-buttons {
  border: none;
  padding: 0px;
}

h3.graph-headline {
  font-weight: normal;
  margin-top: 25px;
  margin-left: 40px;
}

.value {
  font-weight: bold;
}

.no-button {
  outline: 1px solid rgb(254, 178, 76);
  border: 1px solid rgb(254, 178, 76); 
  background: rgb(252, 195, 11);
  color: white;
}

.button {
  transition: all 0.3s;
  border: 1px solid black;
  border-radius: 3px;
}

.button:hover {
  /*outline: 1px solid #444;*/
  background: #ccc;
  color: white;
}

.selected-button {
  border: 1px solid #444;
  background: #444;
  color: white;
}

.vertical-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
}

.graph-label {
  
  display: inline-block;
  width: 47%;
}

.both-outer {
  width:  100%;
  height: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#lpg-graph {
  min-width: 220px;
}
#lpg-text {
  min-width: 240px;
}

.both-outer-around {
  width:  100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#comparison {
  min-height: 500px;
}

.graph-content {
  width: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.svg {
  height: 80;
}

/* remove spacing between middle columns */
.row.no-gutter .col-lg-2:not(:first-child):not(:last-child) {
  padding-right:5px;
  padding-left: 5px;
}
/* remove right padding from first column */
.row.no-gutter .col-lg-2:first-child {
  padding-right:5px;
  padding-left: 0px;
}
/* remove left padding from first column */
.row.no-gutter .col-lg-2:last-child {
  padding-right:0px;
  padding-left: 5px;
}

.play-interface {
    display: flex;
}

#active-map-slider {
  width: 270px;
  margin: auto;
}

#active-map-container {
  margin-bottom: 30px;
}

.interface-icon {
    margin-top: -13.8px;
    font-size: 1.31em;
}
.interface-icon.backward {
    margin-top: -7px;
    font-size: 0.75em;
}
.interface-icon:hover {
    color: rgb(252, 195, 11);
}

.stop:hover {
    color: rgb(229, 36, 59);
}


#active-map-slider .noUi-handle:hover {
  border: 5px solid black;
}

#active-map-slider .noUi-handle {
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  outline: none;
  /*box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;*/
}

#active-map-slider .noUi-active {
  border: 6px solid black;
  background: black;
  /*box-shadow: inset 0 0 1px #FFF, inset 0 1px 8px #DDD, 0 3px 6px -3px #BBB;*/
}

#active-map-slider .noUi-tooltip {
  display: block;
  position: absolute;
  background: #fff;
  color: #000;
  padding: 0px 1px;
  text-align: center;
  white-space: nowrap;
  font-size: 15px;
  font-weight: normal;
  bottom: -32px;
}

#active-map-slider .noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
}

#active-map-slider .noUi-tooltip {
    /* display: none; */
}

#active-map-slider .noUi-active .noUi-tooltip {
    display: block;
}

#slider-container {
  display: flex;
  justify-content: left;
  margin-left: 15px;
}

.box {
  margin-left: 15px;
  padding: 30px;
  padding-bottom: 15px;
  padding-top: 30px;
  border: 1px solid black;
  border-radius: 3px;
}

.box .label {
  margin-left: -25px;
  margin-top: -29px;
  margin-bottom: 20px;
}

.box form {
  margin-top: -9px;
}

form input {
    display: inline;
}

.label-percentage {
  margin-left: 5px;
}

#p100{
    margin-left: 15px;
}

.mid {
  width: 300px;
}

.active-map-conclusion {
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  font-size: 18px;
  column-count: 3;
  column-width: 240px;
  column-gap: 60px;
 -moz-column-fill: balance;
     column-fill: balance;
}


.slider-labels {
  margin-top: 10px;
  width: 100%;
  min-height: 25px;
  display: flex;
  justify-content: space-between;
}

.footnotes {
  margin-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 45px;
  border-bottom: 1px solid black;
  border-top: none;
  font-size: 13px;
}

.footnotes button {
  display: inline;
  background: none;
  border: none;
  outline: none;
}

.footnotes-inside {
  margin-top: 30px;
  border-top: 1px dashed #ddd;
  padding-top: 15px;
}

.adjust-left {
  margin-top: -10px;
  margin-bottom: 30px;
  margin-left: 7.5px;
}


/* [class*='col-'] */

.deact circle {
    fill: #ddd;
}

.deact text {
    fill: #ddd;
}

.deact path {
    stroke: #ddd;
}

.country text {
    paint-order: stroke;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.grayed-out {
  opacity: 0.25;
}


div.my-tooltip {
  position: absolute;
  margin-left: 0px;
  padding: 25px;
  background: #fff;
  border: 1px solid black;
  pointer-events: none;
}

.typo-mix {
  line-height: 1.8em;
  margin: 45px 0;
}

.big {
  font-size: 28px;
}

.huge {
  font-size: 35px;
}

.number {
  font-weight: bold;
}

.positive {
  color: rgb(252, 195, 11);
}

.negative {
  color: rgb(126, 53, 22);
}

.data-label {
  font-weight: normal;
}

.benefit {
  font-size: 21px;
  /* font-weight: bold; */
}

.subsection {
  margin-bottom: 120px;
}

.conclusion {
  max-width: 1100px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  column-count: 3;
  column-width: 240px;
  column-gap: 60px;
 -moz-column-fill: balance;
     column-fill: balance;
}

#footer {
  border-top: 1px dashed #fff;
  opacity: .8;
  padding-right: 0;
  padding-left: 0;
}

#sources-button {
  opacity: 1;
  width: 100%;
  text-align: right;
  font-size: 20px;
  vertical-align: middle;
}

.start-end .button {
  border: none;
  transition: all 0.8s;
}

.start-end .button:hover {
  color: rgb(252, 195, 11);
  background: #fff;
}

.tooltip {
  opacity: 0.3;
}

i.big.icon, i.big.icons {
  font-size: 2.25em;
}

#direct-comparison-graph {
  min-width: 1000px
}

#comparison svg {
  min-width: 660px;
}

.play-interface i:hover {
  cursor: pointer;
}

.context-hovers {
  font-weight: bold;
  border-radius: 3px;
  padding: 5px;
  margin-top: -5px;
}

.context-hovers:hover {
  background: #111;
  color: white;
}

.label-interface {
  font-size: 13px;
}