
@font-face {
font-family: "Jost";
src: url("../fonts/Jost-300-Light.otf") format("opentype");
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: "Jostb";
src: url("../fonts/Jost-400-Book.otf") format("opentype");
font-weight: bold;
font-style: bold;
}


body {
	font-family: "Jost", Helvetica;
	font-size: 16px;
	color: #f0f8ff;
	margin: 0;
	padding: 0;
}


text {
  	font-family: "Jost", Helvetica;
}


#undpintro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.title {
  font-family: 'Jostb';
  font-size: 30px;
  padding-top: 5%;
  margin-top: 50px;
}


span {
  color: #BD0F30;
}


#intro {
  width: 70%;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;

}


a{
  color: #59E8FF;
}


a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


.subtitle {
  font-family: 'Jostb';
  font-size: 20px;
  padding-top: 40px;
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}


.content {
  padding-top: 10%;

}

.message {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding: 45px 0 100px 0;
  line-height: 1.5;
  
}

#s1 {
  min-height: 100vh;
}

section, section.s3, section.s2, section.s4, section.s5  {
  background-color: #0B0B0B;
}

section.s2, section.s3, section.s4 {
  padding-bottom: 100px;
}



div.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 10px;
  background-color: #F3E8E2;
  z-index: 1;
}


#section2 {
  display: flex;
  justify-content: center;
  
}


text {
  fill: #fff;
}


path {
  stroke: gray;
}


line {
  stroke: gray;
}


text.value {
  font-size: 14px;
}


#chart-area svg, #chart2-area svg {
	margin-left: auto;
  margin-right: auto;
  display: block;
}


#slider-div, #slider2-div {
  margin-left: auto;
  margin-right: auto;
  display: block;
	width:500px;
}


#region-select, #region-select2 {
	width: 150px;
	background-color: #0B0B0B;
	font-family: Jost;
	color: #f0f8ff;
}



#slider-div, #region-select {
margin-top: 50px;
}


#slider2-div, #region-select2 {
  margin-top: 50px;
}


#text-legend {
  font-size: 13px;
}


#date-slider, #date2-slider {
  margin-left: 130px;
}




.d3-tip {
  border: 1px solid #f0f8ff;
}


#date-slider.ui-corner-all,
#date-slider .ui-corner-all {
  border-radius: 0;
}


#date-slider.ui-slider {
  border: 0;
  background: #f0f8ff;
  border-radius: 7px;
}


#date-slider.ui-slider-horizontal {
  height: 3px;
}


#date-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #f0f8ff;
  border-radius: 50%;
  border: none;
}


#date-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
}


#date-slider.ui-slider-horizontal {
  top: 0;
  height: 2px;
}


.ui-slider-handle:focus {
  outline: none;
}

#date2-slider.ui-corner-all,
#date2-slider .ui-corner-all {
  border-radius: 0;
}


#date2-slider.ui-slider {
  border: 0;
  background: #f0f8ff;
  border-radius: 7px;
}


#date2-slider.ui-slider-horizontal {
  height: 3px;
}


#date2-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #f0f8ff;
  border-radius: 50%;
  border: none;
}


#date2-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
}


#date2-slider.ui-slider-horizontal {
  top: 0;
  height: 2px;
}

.ui-slider-label {
  font-size: 10px;
  color: #f0f8ff;
}


#wrapper1{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
	max-width: 60%;
	display: grid;
  grid-gap: 10px;
	grid-template-columns: 250px 150px 150px 150px;
	text-align: center;
}


#nationnumbers {
  padding-top: 8px;
}


.nationalf {
  font-size: 12px;
  padding-right: 20px;
}

.regionalf {
  font-size: 12px;
}


.nationaln {
  font-size: 16px;
}


#regionalo {
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
}


.left {
  text-align: center;
}


.ari {
  color: #8E95A3;
}


.under {
  color: #BD0F30;
}


.nigeriar {
  text-align: left;
  padding-left: 30px;
}

.wrapper2{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
	max-width: 70%;
	display: grid;
	grid-template-columns: repeat(6, 150px);
	text-align: center;
}

.center-text {
  display:flex;
  justify-content: center; 
  flex-direction: column;
}

#ncw {  
  color: #4ECDC4;
  opacity: 0.6;
}


#ncs {
  color: #9AFD5C;
  opacity: 0.2;
}


#nce {
  color: #E2C044;
  opacity: 0.5;
}

#new {  
  color: #4ECDC4;
  opacity: 0.5;
}


#nes {
  color: #9AFD5C;
  opacity: 0.3;
}


#nee {
  color: #E2C044;
  opacity: 0.3;
}

#nww {  
  color: #4ECDC4;
  opacity: 0.6;
}


#nws {
  color: #9AFD5C;
  opacity: 0.4;
}


#nwe {
  color: #E2C044;
  opacity: 0.4;
}

#sew {  
  color: #4ECDC4;
  opacity: 0.8;
}


#ses {
  color: #9AFD5C;
  opacity: 0.3;
}


#see {
  color: #E2C044;
  opacity: 0.8;
}

#ssw {  
  color: #4ECDC4;
  opacity: 0.8;
}


#sss {
  color: #9AFD5C;
  opacity: 0.2;
}


#sse {
  color: #E2C044;
  opacity: 0.8;
}

#sww {  
  color: #4ECDC4;
  opacity: 0.8;
}


#sws {
  color: #9AFD5C;
  opacity: 0.2;
}


#swe {
  color: #E2C044;
}

.line {
  height: 1px;
  background-color: #f0f8ff;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 100px;
  display:flex;
  justify-content: center; 
}

#sources {
  padding-top: 200px;
  margin-left: 50%;
  margin-right: 50%;
}

.data-info {
  font-size: 13px;
}
